.hidden{
  display: none;
}

input{
	display: block;
}	

#primeiroSVG{
	position: absolute;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
    display: block;
	
	background-color: #000000;
	
	background-image: url("prisma.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	
	float: left;
}

#tabela {
	overflow: auto;
	
	position: absolute;
	top: 25px;
	left: 0px;
	/**color: white;**/
	/**background-color: #000000;**/
	border-width: 2px;
    border-style: solid;
    border-color: #000000;
	
	margin-left: 1310px;
	margin-bottom: 30px;
	width: 400px;
	height: 455px;
}

#titulo {
	position: absolute;
	top: 30px;
	color: white;
	background-color: #000000;
	z-index: 1;
	
	margin-left: 500px;
	width: 750px;
	height: 33px;
}

#segundoSVG{
	display: none;
	top: 530px;
	margin-left: 0;
	margin-right: 0;
	
	background-color: #000000;
	background-image: url("prisma.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	
	width: 1300px;
	height: 455px;
}

#vis-container2{
	margin-top: 15px;
}

#titulo2 {
	position: absolute;
	top: 550px;
	color: white;
	background-color: #000000;
	
	margin-left: 500px;
	width: 750px;
	height: 33px;
}

#tabela2 {
	overflow: auto;
	
	position: absolute;
	top: 542px;
	left: 0px;
	/**color: white;
	background-color: #000000;**/
	border-width: 2px;
    border-style: solid;
    border-color: #000000;
	
	margin-left: 1310px;
	margin-bottom: 30px;
	width: 400px;
	height: 452px;
}

#botao{
	margin-top: 460px; /**510**/
}